.filter{
        height: 60px;
        color: white;
        display: flex;
        font-size: 15px;
        align-items: center;
        background-color: #155E5D;
        border-bottom: 1px solid  lightgray;
    }